<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/front.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>project</title>
</head>
<body>
    <header id="image">
        <div class="animate">
        <img src="{{ url_for('static', filename='images/shutterstock_338016263.jpg')}}" width="150" height="50">
        
        <h1>India : {{india}} . International : {{international}} </h1>
        <img src="{{ url_for('static', filename='images/shutterstock_338016263.jpg')}}" width="150" height="50">

        </div>
    </header>
    <header id="main">
      
        <div class="opaque"></div>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">tester</a></li>
                    <li><a href="#">important numbers</a></li>
                </ul>
            </div>
    </nav>
    <div class="explore">
        <a href="#">explore</a>
    </div>
    </header>
    <section>
        <p>
            Coronavirus disease 2019 (COVID-19) is defined as illness caused by a novel coronavirus now called severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2; formerly called 2019-nCoV), which was first identified amid an outbreak of respiratory illness cases in Wuhan City, Hubei Province, China. [1] It was initially reported to the WHO on December 31, 2019. On January 30, 2020, the WHO declared the COVID-19 outbreak a global health emergency. [2, 3] On March 11, 2020, the WHO declared COVID-19 a global pandemic, its first such designation since declaring H1N1 influenza a pandemic in 2009. [4]

Illness caused by SARS-CoV-2 was recently termed COVID-19 by the WHO, the new acronym derived from "coronavirus disease 2019. " The name was chosen to avoid stigmatizing the virus's origins in terms of populations, geography, or animal associations

        </p>
        <h4>what do we provide</h4>
        <div class="mar"></div>
    </section>
    
    <div class="container">
    <section>
        <div class="box1">
            <img src="{{ url_for('static', filename='images/download.jpg')}}" >
       <div class="content1">
         <h3>slot 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
        </div>
    </div>
    </section>
    <section>
       <div class="box2">
        <img src="{{ url_for('static', filename='images/download.jpg')}}" > 
        <div class="content2">
        <h3>slot 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
       </div>
    </div>
    </section>
    <section>
        <div class="box3">
            <img src="{{ url_for('static', filename='images/download.jpg')}}" >
        <div class="content3">
            <h3>slot 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
        </div>
    </div>
    </section>
    </div>
    <br>
    <div class="mar1"></div>
    <div class="dev">
    <br> <br> 
    <h4>developers corner</h4>
    <br> <br> 
    <div class="dev1">
    <img src="{{ url_for('static', filename='images/IMG-20200330-WA0034.jpg')}}">
    <br> <br>
    <h6>ayushman kumar</h6>
    <h5>follow him on:</h5>
    </div>
    </div>
    <br><br><br><br>
    <div class="foot">

    </div>
    <footer>
        <h6>follow us on</h6>
        <ul>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
        <div class="copy">
            &copy;2020 all rights reserved
        </div>
        
    </footer>

</body>
</html>