<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/front.css')}}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>project</title>
</head>
<body>
    <header id="image">
       
        <img src="{{ url_for('static', filename='images/shutterstock_338016263.jpg')}}" width="150" height="50">
   
    </header>
    <header id="main">
      
        <div class="opaque"></div>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">tester</a></li>
                    <li><a href="#">important numbers</a></li>
                </ul>
            </div>
    </nav>
    <h1>explore</h1>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, veritatis iusto. Quae, labore repudiandae! Voluptatum tempora porro neque dolore mollitia, reprehenderit voluptas. Iusto, a vitae. Ad rem nobis consequatur doloribus.
        loeem
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit beatae ipsum id suscipit ut assumenda veniam, itaque amet quasi autem tempore aliquid fugit consectetur doloremque nam! Repellat soluta inventore labore?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere doloribus neque eos numquam magnam assumenda illo iusto corporis consequatur inventore. Debitis, mollitia unde? Doloribus et dolorem quis harum eum cumque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus alias a modi eum ducimus earum ipsam, eaque explicabo iure quidem nam! Error numquam modi est ducimus eum quibusdam sequi.

        </p>
        <h4>what do we provide</h4>
        <div class="mar"></div>
    </section>
    
    <div class="container">
    <section>
        <div class="box1">
            <img src="{{ url_for('static', filename='images/download.jpg')}}" >
       <div class="content1">
         <h3>slot 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
        </div>
    </div>
    </section>
    <section>
       <div class="box2">
        <img src="{{ url_for('static', filename='images/download.jpg')}}" > 
        <div class="content2">
        <h3>slot 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
       </div>
    </div>
    </section>
    <section>
        <div class="box3">
            <img src="{{ url_for('static', filename='images/download.jpg')}}" >
        <div class="content3">
            <h3>slot 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo, eos deleniti quidem sed rem tempora cupiditate fugiat alias, id obcaecati cum minus praesentium</p>
        </div>
    </div>
    </section>
    </div>
    <br>
    <div class="mar1"></div>
    <div class="dev">
    <br> <br> 
    <h4>developers corner</h4>
    <br> <br> 
    <div class="dev1">
    <img src="{{ url_for('static', filename='images/IMG-20200330-WA0034.jpg')}}">
    <br> <br>
    <h6>ayushman kumar</h6>
    <h5>follow him on:</h5>
    </div>
    </div>
    <br><br><br><br>
    <div class="foot">

    </div>
    <footer>
        <h6>follow us on</h6>
        <ul>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
        <div class="copy">
            &copy;2020 all rights reserved
        </div>
        
    </footer>

</body>
</html>